.sidebar {
    z-index: 10;
    display: block;
    width: 123px;
    background-color: #2C2C2E;
    height: 94vh;
    display: flex;
    float: left;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 20px 0;
    border-radius: 10px;
    border-right: 5px solid #E3CFCF;
}
:checked + .sidebar {
    width: 300px;
}
#sidebar-click {
    display: none;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
    height: fit-content;
}

.sidebar ul li {
    margin-bottom: 25px;
    width: 63px;
    height: 44.2px;
    margin-bottom: 40px;
}

.sidebar h1 {
    position: relative;
    left: 130px;
    top: -70px;
    color: #E3CFCF;
}

.sidebar ul li a {
    height: 44px;
}

.sidebar ul li a img {
    width: auto;
    height: auto;
    right: 0px;
}

.sidebar a {
    height: 44.2px;
    padding-left: 27px;
}

.sidebar-button {
    position: relative;
    text-decoration: none;
}

.sidebar-button.active img{
    border-left: 5px solid #A40000;
}

.sidebar-button img:hover{
    filter: brightness(125%);
}
