* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2C2C2E;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    position: relative;
}

.avatar img {
    margin-right: 40px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #E3CFCF;
}

.username-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}

.username {
    background-color: #373739;
    color: #CB0000;
    font-size: 32px;
    border: 4px solid #E3CFCF;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    width: 500px;
}

.buttons {
    margin: 20px 40px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.edit-button, .delete-button {
    font-family: "Bebas Neue", sans-serif;
    background-color: transparent;
    cursor: pointer;
    width: 230px; 
    height: 60px; 
    padding: 0;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid #E3CFCF;
    transition: 0.2s ease;
}

.edit-button {
    color: #E3CFCF;
}

.delete-button {
    color: #A40000;
}

.edit-button:hover {
    color: rgb(247, 247, 247);
    background-color: rgb(#E3CFCF);
    border-color: rgb(#E3CFCF);
    text-shadow: 0 0 50px white, 0 0 20px white, 0 0 15px white;
    font-size: 23px;
}

.delete-button:hover{
    color: rgb(247, 247, 247);
    background-color: #CB0000;
    border-color: #CB0000;
    text-shadow: 0 0 50px white, 0 0 20px white, 0 0 15px white;
    box-shadow: 0 0 40px rgb(202, 25, 25);
    font-size: 23px;
}

.edit-button:active, .delete-button:active{
    font-size: 22px;
}

.profile-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1100px;
}

.redirect-button {
    position: relative;
    justify-content: center;
    display: inline-block;
    background: linear-gradient(to top, #2C2C2E, #A40000);
    color: #E3CFCF;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    width: 200px; 
    height: 350px; 
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.redirect-button:hover {
  background: linear-gradient(to top, #373739, #CB0000);
  transform: translateY(-20px);
}


