:root {
    --primary-color: #A40000;
    --secondary-color: #2C2C2E;
    --tertiary-color: #E3CFCF;
    --quaternary-color: #B0B0B0;
    --quinary-color: #D6D6D6;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    margin: 0;
    padding: 0;
}

header {
    margin: 2% 15%;
    display: flex;
    align-items: center;
    width: 35%;
}

.search-container {
    margin-left: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 2px solid var(--tertiary-color);
    flex-grow: 1;
    margin-right: 10px;
}

#search-input {
    border: none;
    background: transparent;
    color: var(--tertiary-color);
    font-size: 16px;
    outline: none;
    flex: 1;
    padding: 18px; /* Ajusta el padding para coincidir con el alto deseado */
    border-radius: 15px;
}

.small_icon {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.small_icon img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(63%) sepia(10%) saturate(100%) hue-rotate(0deg) brightness(93%) contrast(85%);
}

#filter-button {
    font-size: 16px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid var(--tertiary-color);
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    height: 56px; /* Ajusta este valor para que coincida con el alto de la barra de búsqueda */
    display: flex;
    align-items: center;
    justify-content: center;
}

#filter-button:hover {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border-color: var(--quaternary-color);
}

.card-grid {
    margin: 20px 15%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 20px;
}

.card {
    background-color: #3a3a3a;
    border-radius: 15px; /* Ajustado a 15px para mantener la estética */
    overflow: hidden;
    position: relative;
    transition: transform 0.2s;
}

.card img {
    width: 100%;
    height: auto;
}

.card:hover {
    transform: scale(1.05);
}

#filter-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px; /* Redondea las esquinas del sidebar */
}

#filter-sidebar.show {
    transform: translateX(0);
}

#filter-sidebar .close-btn {
    font-size: 24px;
    cursor: pointer;
    color: var(--tertiary-color);
    margin: 10px;
    text-align: right;
}

#filter-sidebar h2 {
    padding: 20px;
    margin: 0;
    border-bottom: 2px solid var(--tertiary-color);
    border-radius: 15px; /* Redondea las esquinas del título del sidebar */
}

#filter-sidebar .filter-section {
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#filter-sidebar .filter-section label {
    margin-bottom: 5px;
}

#filter-sidebar .filter-section select,
#filter-sidebar .filter-section input {
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px;
    border-radius: 15px; /* Redondea las esquinas de los inputs y selects */
    border: 2px solid var(--tertiary-color);
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

#filter-sidebar .filter-section select:focus,
#filter-sidebar .filter-section input:focus {
    background-color: var(--tertiary-color);
    border-color: var(--quaternary-color);
    color: var(--secondary-color);
    outline: none;
}

.styled-button {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border: 2px solid var(--quaternary-color);
    border-radius: 15px; /* Redondea las esquinas de los botones */
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.styled-button:hover {
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
}

#filter-sidebar .filter-section button {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border: 2px solid var(--quaternary-color);
    width: 100%; /* Asegura que el botón ocupe todo el ancho disponible */
    height: 56px; /* Ajusta este valor para que coincida con el alto de la barra de búsqueda */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px; /* Redondea las esquinas de los botones en el sidebar */
}

#filter-sidebar .filter-section button:hover {
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
}

/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Contenedor principal */
.container {
    display: flex;
    height: 100vh;
}

/* Sección de cartas */
.cards-section {
    width: 60%;
    padding: 10px;
    overflow-y: auto;
    background-color: #f4f4f4;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Sección de la baraja */
.deck-section {
    margin-left: 60%;
    width: 40%;
    padding: 20px;
    background-color: #fff;
}

/* Estilo de las cartas */
#results {
    margin-right: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Estilo de las cartas individuales */
.card {
    width: calc(50% - 10px);
    box-sizing: border-box;
}

/* Asegúrate de que la imagen de las cartas tenga un tamaño adecuado */
.card img {
    width: 100%;
    height: auto;
}

#static-box {
    position: fixed;
    top: 140px; /* Ajusta según el espacio deseado desde la parte superior */
    right: 90px; /* Ajusta según el espacio deseado desde el borde derecho */
    width: 500px;
    height: 500px; /* Ajusta el ancho según sea necesario */
    padding: 20px; /* Ajusta el padding según sea necesario */
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 15px; /* Mantén la coherencia con el estilo general */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade sombra si lo deseas */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

#static-box p {
    margin: 10%; /* Elimina márgenes para el texto */
}

/* Estilo de la barra de nombre de la baraja */
.name-deck-bar {
    margin-top: 0.5%;
    margin-right: 12%;
    position: fixed; /* Fija la barra en la parte superior de la ventana */
    top: 20px; /* Ajusta la distancia desde el borde superior */
    right: 20px; /* Ajusta la distancia desde el borde derecho */
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 2px solid var(--tertiary-color);
    background-color: var(--secondary-color);
    padding: 0 10px; /* Añade padding para el espaciado interno */
    width: 300px; /* Ajusta el ancho según sea necesario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade sombra si lo deseas */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

#nombre-baraja {
    border: none;
    background: transparent;
    color: var(--tertiary-color);
    font-size: 16px;
    outline: none;
    flex: 1; /* Hace que el input ocupe el espacio disponible */
    padding: 18px;
    border-radius: 15px;
}

