:root {
    --primary-color: #A40000;
    --secondary-color: #2C2C2E;
    --tertiary-color: #E3CFCF;
    --quaternary-color: #B0B0B0;
    --quinary-color: #D6D6D6;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    margin: 0;
    padding: 0;
}

header {
    margin: 2% 15%; /* Alinear con cartas */
    display: flex; /* Alinear elementos dentro del header */
    align-items: center; /* Centrar verticalmente */
    width: 70%; /* Ancho del header */
}

.search-container {
    display: flex; /* Alinear barra de búsqueda y botón */
    align-items: center; /* Centrar verticalmente */
    justify-content: space-between; /* Espaciado entre los elementos */
    flex-grow: 1; /* Permitir que ocupe el espacio disponible */
}

.search-bar {
    display: flex; /* Alinear ícono y input */
    align-items: center; /* Centrar verticalmente */
    border-radius: 15px; /* Bordes redondeados */
    border: 2px solid var(--tertiary-color); /* Borde sutil */
    flex-grow: 1; /* Permitir que la barra de búsqueda ocupe espacio */
    margin-right: 10px; /* Espacio a la derecha del input */
}

#search-input {
    border: none; /* Sin borde */
    background: transparent; /* Fondo transparente */
    color: var(--tertiary-color); /* Color del texto */
    font-size: 16px; /* Tamaño de la fuente */
    outline: none; /* Sin contorno */
    flex: 1; /* Ocupa el espacio disponible */
    padding: 18px; /* Espaciado interno */
}

.small_icon {
    display: flex; /* Centrar el ícono verticalmente */
    align-items: center; /* Centrar verticalmente */
    margin-left: 10px; /* Espacio entre el input y el ícono */
}

.small_icon img {
    width: 20px; /* Tamaño del ícono */
    height: 20px; /* Tamaño del ícono */
    cursor: pointer; /* Cambiar cursor al pasar sobre el icono */
    filter: brightness(0) saturate(100%) invert(63%) sepia(10%) saturate(100%) 
            hue-rotate(0deg) brightness(93%) contrast(85%); /* Ajuste del color */
}

/* Estilos para el botón de filtro */
#filter-button {
    font-size: 20px; /* Tamaño de la fuente */
    padding: 15px 25px; /* Espaciado interno del botón */
    background-color: var(--secondary-color); /* Color de fondo */
    color: var(--tertiary-color); /* Color del texto */
    border: 2px solid var(--tertiary-color); /* Borde sutil */
    border-radius: 15px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
    transition: background-color 0.3s, transform 0.2s; /* Transición suave */
}

#filter-button:hover {
    background-color: #900000; /* Color más oscuro al pasar el mouse */
    transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
}

.card-grid {
    margin: 20px 15%; /* Margen superior y lateral de las cartas */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsivo */
    gap: 16px; /* Espacio entre cartas */
    padding: 20px; /* Espaciado alrededor de las cartas */
}

.card {
    background-color: #3a3a3a;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    transition: transform 0.2s;
}

.card img {
    width: 100%;
    height: auto;
}

.card:hover {
    transform: scale(1.05); /* Efecto de aumento al pasar sobre la carta */
}

/* Estilos para la sidebar de filtros */
#filter-sidebar {
    position: fixed; /* Fijo para que esté sobre el contenido */
    top: 0;
    right: 0;
    width: 25%; /* Ajusta el ancho según lo necesites */
    height: 100%;
    background-color: var(--secondary-color); /* Color de fondo de la sidebar */
    color: var(--tertiary-color); /* Color del texto */
    box-shadow: -2px 0 5px rgba(0,0,0,0.3); /* Sombra para darle profundidad */
    transform: translateX(100%); /* Inicialmente escondido fuera de la pantalla */
    transition: transform 0.3s ease; /* Transición suave */
    z-index: 1000; /* Asegúrate de que esté sobre otros elementos */
    overflow-y: auto; /* Permite el scroll si el contenido es mayor al alto de la pantalla */
}

#filter-sidebar.show {
    transform: translateX(0); /* Mostrar la sidebar */
}

#filter-sidebar .close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
    color: var(--tertiary-color);
}

#filter-sidebar h2 {
    padding: 20px;
    margin: 0;
}

#filter-sidebar .filter-section {
    padding: 20px;
}

#filter-sidebar .filter-section label {
    display: block;
    margin-bottom: 10px;
}
