:root { 
    --primary-color: #A40000;
    --secondary-color: #2C2C2E;
    --tertiary-color: #E3CFCF;
    --quaternary-color: #B0B0B0;
    --quinary-color: #D6D6D6;
}

body {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    font-family: 'Arial', sans-serif;
    text-align: center;
}


h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--primary-color);
}

h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: var(--tertiary-color);
}

/* Estilo para agrupar imágenes */
.image-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre las imágenes */
}

img {
    border: 2px solid var(--quaternary-color);
    border-radius: 10px;
    margin: 1rem;
}

figure {
    margin: 0;
}

p {
    color: var(--quinary-color);
    font-size: 1.5rem;
}
